/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        HML_layer: HML_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HML_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 5 15 12 13 14 15 16 17 24 25 26 24 25 26 28 29 27>;
            hold-trigger-on-release;
        };

        HMR_layer: HMR_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35>;
            hold-trigger-on-release;
        };

        HML_kp: HML_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "HML_KP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 5 15 12 13 14 15 16 17 24 25 26 24 25 26 28 29 27 6 7 18 19 20 30 31 32 8>;
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
        };

        HMR_kp: HMR_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_KP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 3 4 5 15 16 17 27 28 29>;
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
        };

        td_capsword_capslock: td_capsword_capslock {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_CAPSWORD_CAPSLOCK";
            #binding-cells = <0>;
            bindings = <&caps_word>, <&kp CAPSLOCK>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  ESC |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L  |  U  |  Y  |  ;  | BKSP |
            // | TAB  | A/⇧ | R/^ | S/⌥ | T/L1|  G  |   |  M  | N/L1| E/⌥ | I/^ | O/⇧ |  '   |
            // |CAPS/CW| Z  |  X  |  C  |  D  |  V  |   |  K  |  H  |  ,  |  .  |  /  |  -   |
            //                    | MO3 | GUI | ENT |   |ENT/⌥|SPC/L2|F12/^⌥|

            display-name = "Base";
            bindings = <
&kp ESC                &kp Q                 &kp W            &kp F               &kp P           &kp B                &kp J               &kp L           &kp U                &kp Y            &kp SEMICOLON          &kp BSPC
&kp TAB                &HMR_kp LEFT_SHIFT A  &HMR_kp LCTRL R  &HMR_kp LEFT_ALT S  &HMR_layer 1 T  &kp G                &kp M               &HML_layer 1 N  &HML_kp RIGHT_ALT E  &HML_kp RCTRL I  &HML_kp RIGHT_SHIFT O  &kp SQT
&td_capsword_capslock  &kp Z                 &kp X            &kp C               &kp D           &kp V                &kp K               &kp H           &kp COMMA            &kp DOT          &kp FSLH               &kp MINUS
                                                              &mo 3               &kp LGUI        &kp LA(BACKSPACE)    &mt LEFT_ALT ENTER  &lt 2 SPACE     &mt LC(LA(F21)) F12
            >;
        };

        symbols_numpad {
            // -----------------------------------------------------------------------------------------
            // |  `  |  !  |  @  |  }  |  {  |  \  |   |  -  |  7  |  8  |  9  |  :  |A+BKSP|
            // |  ~  |  *  |  ^  |  )  |  (  |  /  |   |  +  |  4  |  5  |  6  |  0  |      |
            // |  &  |  #  |  $  |  ]  |  [  |  %  |   |  =  |  1  |  2  |  3  |  .  |      |
            //                   |trans|trans|trans|   |trans|trans|trans|

            display-name = "Num";
            bindings = <
&kp GRAVE      &kp EXCLAMATION  &kp AT      &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp BACKSLASH    &kp MINUS  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp COLON     &kp LA(BSPC)
&kp TILDE      &kp ASTERISK     &kp CARET   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SLASH        &kp PLUS   &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_0  &none
&kp AMPERSAND  &kp HASH         &kp DOLLAR  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PERCENT      &kp EQUAL  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp DOT       &none
                                            &trans                &trans                 &trans           &trans     &trans        &trans
            >;
        };

        navigation {
            // -----------------------------------------------------------------------------------------
            // |BT_NXT|     |MB1  |MOVE↑|MB2  |     |   |     |     |     |     |     |VOL+ |
            // |BT_PRV|     |MOVE←|MOVE↓|MOVE→|     |   |     |LEFT |DOWN |UP   |RIGHT|VOL- |
            // |BT_CLR|     |     |     |     |     |   |     |     |     |     |     |MUTE |
            //                    |trans|trans|trans|   |trans|trans|trans|            

            display-name = "Nav";
            bindings = <
&none  &none  &mkp MB1        &mmv MOVE_UP    &mkp MB2         &none     &none   &kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT    &none      &kp C_VOL_UP
&none  &none  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none     &none   &kp LEFT    &kp DOWN          &kp UP_ARROW  &kp RIGHT  &kp C_VOL_DN
&none  &none  &none           &none           &none            &none     &none   &none       &none             &none         &none      &kp C_MUTE
                              &trans          &trans           &trans    &trans  &trans      &trans
            >;
        };

        macros {
            bindings = <
&bt BT_NXT  &trans  &trans  &trans  &trans  &trans    &trans  &kp F7  &kp F8  &kp F9  &trans  &trans
&bt BT_PRV  &trans  &trans  &trans  &trans  &trans    &trans  &kp F4  &kp F5  &kp F6  &trans  &trans
&bt BT_CLR  &trans  &trans  &trans  &trans  &trans    &trans  &kp F1  &kp F2  &kp F3  &trans  &trans
                            &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "Macros";
        };
    };
};
